## Command: `{{ page.command }}`

{{ site.data.commands[page.command].description | newline_to_br }}

**Alias**: {% if site.data.commands[page.command].alias %}`{{ site.data.commands[page.command].alias }}`{% else %}*none*{% endif %}

**Arguments**: {% if site.data.commands[page.command].arguments %}`{{ site.data.commands[page.command].arguments }}`{% else %}*none*{% endif %}

**Permission**: {{ site.data.commands[page.command].permission }}

{% if site.data.commands[page.command].notes %}**Notes**:<br>{{ site.data.commands[page.command].notes | newline_to_br }}{% endif %}

**Examples**:
```text{% for example in site.data.commands[page.command].examples %}
{{ example }}{% endfor %}
```
