<!doctype html>
<html lang="en-US">
<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="dark light">

    <link rel="icon" type="image/x-icon" href="./assets/images/favicon.ico">

    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.amber.min.css">
    <link rel="stylesheet" href="./assets/css/style.css">

    <title>{{ site.data.shared.site_title }}</title>
</head>
<body>

    <header class="container">
        <h1>{{ site.data.shared.site_title }}</h1>

        <nav>
            {% include nav.html %}
        </nav>
    </header>

    <main class="container">
        {{ content }}
    </main>

</body>
</html>
