<!doctype html>
<html lang="en-US">
<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="dark light">

    <link rel="icon" type="image/x-icon" href="./assets/images/favicon.ico">

    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.amber.min.css">
    <link rel="stylesheet" href="./assets/css/style.css">

    <title>{{ site.data.shared.site_title }}</title>
</head>
<body>
    <h1>{{ site.data.shared.site_title }}</h1>

    <header class="container">
        <article class="nav flex">
            <a href="./"><strong>{{ site.data.shared.site_title }}</strong></a>
            <a href="./commands.html">Commands</a>
            <a href="./updates.html">Updates</a>
            <a href="./about.html">About</a>
        </article>

        {% if page.url contains "command-" %}
        <article class="nav flex">
            {% for cmd in site.data.commands %}
                <a href="./command-{{ cmd[0] }}.html">{{ cmd[0] }}</a>
            {% endfor %}
        </article>
        {% endif %}
    </header>

    <main class="container">
        {{ content }}
    </main>
</body>
</html>
